# Ignore everything
*

# Allow directories to be traversed (needed to find files deeper)
!*/

# Explicitly exclude the venv and other system/ide folders
venv/
__pycache__/
.DS_Store
.vscode/
.ipynb_checkpoints/

# Unignore the specific files we want
!*.ipynb
!ProfileReport/
!ProfileReport/**
!.gitignore
!.README.md